{% extends "base.html" %}

{% block content %}
<h1 id="404-page-not-found">404</h1>
<p><strong>{% trans %}Page not found{% endtrans %}</strong></p>
{% endblock %}



{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ 'css/custom-theme.css' | url }}">
{% endblock %}



{% block site_nav %}

{%- set navlevel = 1 %}
{%- for nav_item in nav %}
    {%- if nav_item.is_section %}
        {%- if nav_item.is_page %}
            <ul><li{% if nav_item == page %} class="current-section"{% endif %}>
            <a href="{% if nav_item == page %}#{% else %}{{ nav_item.url|url }}{% endif %}" style="padding: 0; font-size: inherit; line-height: inherit">
        {%- endif %}
        <p class="caption"><span class="caption-text">{{ nav_item.title }}</span></p>
    {%- if nav_item.is_page %}
            </a>
            </li></ul>
    {%- endif %}
        <ul>
        {%- for nav_item in nav_item.children %}
            <li class="toctree-l{{ navlevel }}">
            {%- include 'nav.html' %}
            </li>
        {%- endfor %}
        </ul>
    {%- elif config.theme.include_homepage_in_sidebar or (not nav_item == nav.homepage) %}
        <ul>
        <li class="toctree-l{{ navlevel }}">
            {%- include 'nav.html' %}
        </li>
        </ul>
    {%- endif %}
{%- endfor %}

{% endblock %}



{% block scripts %}
    <script>var base_url = {{ base_url|tojson }};</script>
    <script src="{{ 'js/theme.js'|url }}"></script>
    <script src="{{ 'js/theme_extra.js'|url }}"></script>
    
    {%- for script in config.extra_javascript %}
      {{ script|script_tag }}
    {%- endfor %}
{%- endblock %}